$main-color: #FFFFFF;
$secondary1-color: #9D9E9E;
$secondary2-color: #080B0D;
$secondary3-color: #6d6e6e;
$secondary4-color:#F1F1F1;
$f-family: Raleway, sans-serif;
$text: uppercase;
$decor: none;
$center: center;